
#tombol{
    font-family: 'Varela Round';
}
#tombol:hover{
    color: lightblue;
    background-color: lightpink;
    border-color: lightsteelblue;
}
.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
  }
  .description h1{
    color: #76194D;
    font-family: 'Rubik';
    margin-bottom: 30px;
  }
  .description p{
    width: 440px;
    height: 70px;
    color: #76194D;
    font-size: 15px;
    line-height: 1.5;
    padding-top: 10px;
  }
  .description button {
    border: 1px solid #76194D;
    background: #76194D;
    color: #ffffff;
    font-family: 'Open Sans';
  }
  .description button:hover{
      color: #1D2247;
      background-color: #EFE0B1;
      border-color: #EFE0B1;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 40;
    background: rgba(244, 244, 244, 0.79);
  }
  .header {
    position: relative;
    width: 180%;
    
    background-size: 90%;
    background-position: left;
    
    
  }
  header {
    height: 100px;
    background-color: #fff;
    background-size: cover;
}
  .navbar {
    border-radius: 0;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    background-color: transparent;

  }

  
  .affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  /* fixed to top styles */
  .affix.navbar {
    background-color: #fff;
    -webkit-box-shadow: 0px 12px 8px -4px rgba(245,242,245,0.7);
    -moz-box-shadow: 0px 12px 8px -4px rgba(245,242,245,0.7);
    box-shadow: 0px 12px 8px -4px rgba(245,242,245,0.7);
  }
  .affix.navbar .nav-item>a, 
  .affix.navbar .navbar-brand {
    color: #fff;
  }
  .nav-link {
    font-family: 'Baloo Chettan 2';
    color: #76194D !important;
    letter-spacing: 3px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    margin-right: 1em ;
    
  }
  .nav-link:hover {
    color: #000 !important;
    
  }
  footer {
    background-color: #130f40;
    height: 400px;
  }
  .navbar-brand {
    font-family: 'Open Sans';
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
  }
  .about h1{
    color: #76194D;
    margin: 2em;
  }
  .about img{
    height: 100%;
    width: 100%;
    border-radius: 80%;
  }
  .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 110px;
  }
  .about .desc{
    padding: 2em;
    border-left: 4pxsolid black;
  }
  .about .desc h3{
    color: #7ed6df;
  }
  .about .desc p{
    line-height: 2;
    color: #888;
  }
  .sizeimg{
    position: relative;
    
    margin-left: 80px;
    height: 70%;
    width: 70%;
  }
  .portfolio {
    margin: 4em 0;
    padding: 1em;
    position: relative;
  }
  .portfolio h1{
    color: #76194D;
    font-style: 'Baloo Chettan 2';
  }
